<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="css/boostrap5.css">
	<link rel="stylesheet" href="css/devices-style.css">
    <link rel="stylesheet" href="css/toggle-style.css">
    
	
</head>
<body>
    <div class="container">
        <div class="center">
            <div class="card p-3 py-4">
                <h2>#1</h2>
                <table>
                    <tr>
                        <th>Owner</th>
                        <th>:</th>
                        <th>Shxxxx</th>
                    </tr>
                    </tr>
                     
                     
                </table>
                
                <div class="mt-4 d-flex flex-row gap-2"> 
                    <div class="toggle" >
                        <input type="checkbox" id="tgl-btn" >
                        <label for="On" name="On" class="onbtn">On</label>
                        <label for="Off" name="On" class="ofbtn">Off</label>
                  </div>
                 <span class="btn btn-danger w-100 h-45 text-uppercase">Toggle the switch to turn on/off the device</span>
                </div>
                 
            </div>
        </div>
    </div>
    <script src="js/control.js"></script>
</body>

</html>
